/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  /*color: #FFF;*/
  /*background-color: #0F2356;*/
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  background-color: #DFF2F1;
  background: url("../img/texture.jpg") repeat scroll 0 0;
}

p { margin: 1em 0; }

a         { color: #1795CF; }
a:hover   { color: #2BB3E2; }
/*a:visited { color: #006DAA; }*/

/*H*/

h1 {
  text-align: center;
}

/*HEADER*/

.header {
  background-color: rgba(223, 242, 241, 0.24);
}

h3.title {
  float: left;
  font-weight: 300;
  margin: 10px 0;
}

.nav {
  float: right;
  margin: 13px 0px 0px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.ribbon {
  width: 24%;
  margin: 40px auto;
  background: #1AA7D8;
  padding: 1px 0px 10px;
  color: #fff;
  position: relative;
}

.ribbon:before {
  content: url(/img/ribbon-before.png);
  position: absolute;
  left: -43px;
  bottom: -23px;
}

.ribbon:after {
  content: url(/img/ribbon-after.png);
  position: absolute;
  right: -43px;
  bottom: -23px;
}

.ribbon h1 {
  font-size: 28px;
}

.hero h2 {
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  width: 80%;
  margin: 70px auto 20px;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header a {
  text-decoration: none;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*GRAPH*/

svg text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

/*CAJITAS PROMESAS*/

.cajita {
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin-bottom: 15px;
}

ul#social {
  list-style: none;
}

ul#social a {
  background: #7ACBDA;
  padding: 0px 7px 2px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

ul#social a:hover {
  background: #1795CF;
}

/*50 promesas*/

#type li {
  margin-bottom: 16px;
}

ul#type {
  list-style: none;
}

#type > .type-c, #type > .type-p, #type > .type-n {
  position: relative;
}

#type > .type-c:after {
  content: "50 PROMESAS";
  background: url('/img/sprite-estado.png') 118px 41px;
  position: absolute;
  top: 0;
  right: -25px;
  padding: 5px 9px 10px;
  font-size: 14px;
  color: #fff;
}

/*programa gobierno*/
#type > .type-p:after {
  content: "PROGRAMA DE GOBIERNO";
  background: url('/img/sprite-estado.png') 197px 126px;
  position: absolute;
  top: 0;
  right: -25px;
  padding: 5px 6px 11px;
  font-size: 14px;
  color: #fff;
}

/*nueva promesas*/
#type > .type-n:after {
  content: "NUEVA PROMESA";
  background: url('/img/sprite-estado.png') 140px 209px;
  position: absolute;
  top: 0;
  right: -25px;
  padding: 4px 8px 11px;
  font-size: 14px;
  color: #fff;
}

/*FOOTER*/

.footer {
  background-color: rgba(223, 242, 241, 0.24);
  padding: 40px 0px;
  /*border-top: 1px solid #A9CCCB;*/
  margin-top: 70px;
}

.footer ul {
  list-style: none;
}
