Django==1.8
gunicorn==18.0
dj-database-url==0.2.2
dj-static==0.0.6
psycopg2==2.5.2
-e git://github.com/django-nose/django-nose#egg=django-nose
django-extensions
ipython
-e git+https://github.com/ciudadanointeligente/django-popolo.git@django_version_18#egg=django-popolo
django-constance-updated==1.0.1
markdown
newrelic
django-subdomain-instances
django-taggit
-e git://github.com/ciudadanointeligente/ddah-promises.git#egg=ddah-promises
-e git://github.com/bradleyayers/django-ace.git#egg=django-ace
bunch==1.0.1
json-utils==0.2
Pystache==0.5.4
django-picklefield==0.3.1
django-admin-sortable2==0.5.0
celery
django-forms-bootstrap==3.0.1
