{% load i18n %}<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Instances" %}</title>
        <meta charset="utf-8">
    </head>
    <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1692712460944368',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
        <h1>{% trans "Instances" %}</h1>
        <h2>Hola esto es el landing page para el del dicho al hecho</h2>
        <ul>
          {% for i in instances %}
            <li><a href="{{ i.get_absolute_url }}">{{ i }}</a></li>
          {% empty %}
            <li>{% trans "No instances present." %}</li>
          {% endfor %}
        </ul>
    </body>
</html>
