    <div id="footer">
      <div class="container">
        <div id="disqus_thread"></div>
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li><a href="mailto:{{ contact }}?Subject=Prensa" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Mail de contacto</a></li>
            </ul>
          </div>
          <div class="col-md-4 logo-fci">
            <ul>
              <li>
                Desarrollado por <a href="http://www.ciudadanointeligente.org/" target="_blank"><img src="https://ckannet-storage.commondatastorage.googleapis.com/2014-05-23T15:12:37.197Z/logo-ciudadanoi-parafondooscuro.png" title="Fundación Ciudadano Inteligente"></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 text-right">
            <ul>
              <li><a href="https://github.com/ciudadanointeligente/check-it" target="_blank"><i class="fa fa-github-alt"></i> Código en Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
