    <div class="header">
      <div class="container">
        <h3 class="title"><a href="/" onclick="ga('send','event','home','click')">{{ title }}</a></h3>
        <ul class="nav nav-pills">

          {{ #flatpages }}
          <li><a href="{{url}}" onclick="ga('send','event','flatpage-{{url}}','click')">{{title}}</a></li>
          {{ /flatpages }}
          <li><a href="#" target="_blank" onclick="ga('send','event','metodologia','click')">Metodología</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="ga('send','event','menu','click')">
              Menu <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="extra" href="#" onclick="ga('send','event','submenu-1','click')">Submenu 1</a></li>
              <li><a class="extra" href="#" onclick="ga('send','event','submenu-3','click')">Submenu 2</a></li>
              <li><a class="extra" href="#" onclick="ga('send','event','submenu-3','click')">Submenu 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
