    <style type="text/css">
 
      h3.title {
        margin: 9px 0 10px;
      }
 
      .nav {
        margin: 1px 0px 0px;
      }
 
      .hero-space h2 {
        margin: 70px 0 20px;
      }
 
      .socialnetwork-home {
        margin: 0 0 70px;
      }
 
      .hero-space {
        background: none;
      }
 
      .jumbotron img {
        max-height: 400px;
        width: 100%;
        height: auto;
      }
 
      .col-md-4.logo-fci {
        margin: -20px 0;
      }
 
      @font-face {
        font-family: 'icomoon';
        src:url('//deldichoalhecho.cl/static/fonts/icomoon.eot');
        src:url('//deldichoalhecho.cl/static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('//deldichoalhecho.cl/static/fonts/icomoon.woff') format('woff'),
            url('//deldichoalhecho.cl/static/fonts/icomoon.ttf') format('truetype'),
            url('//deldichoalhecho.cl/static/fonts/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
      }
 
      @media screen and (max-width: 1200px) {
 
        .jumbotron img {
          opacity: 1;
        }
 
      }
body {
    background-color: {{ style.background_color }};
}
#footer {
    background-color: {{ style.background_color }};
}
.dropdown-menu {
  background-color: {{ style.background_color }};
}
.progress {
  background-color: {{ style.background_color }};
}
.b-color {
  background-color: {{ style.background_color }};
}
.category-menu li a {
  background: {{ style.second_color }};
}
.panel {
  background-color: {{ style.second_color }};
}
.panel-default>.panel-heading {
  background-color: {{ style.second_color }};
}
.panel-body .read-more:before {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00{{ style.second_color }}', endColorstr='{{ style.second_color }}',GradientType=0 );
}
.read-more p.text-center.category-expander {
  background-color: {{ style.read_more_color }};
}

.read-less p.text-center.category-expander {
  background-color: {{ style.read_more_color }};
} 
    </style>
