/*This is 100 dias only*/

.hero-space {
  background: url(img/header-sides.png) repeat-x;
}

@media (max-width: 1200px) {
  .hero-space {
    background-image: url(img/header.png);
  }
}

@media (max-width: 1000px) {
  .hero-space {
    background-image: url(img/header-m.png);
  }
}

@media (max-width: 800px) {
  .hero-space {
    background-image: url(img/header-s.png);
  }
}

@media (max-width: 400px) {
  .hero-space {
    background-image: url(img/header-xs.png);
  }
}
