<!DOCTYPE html>
<html lang="es">

  {{> head }}

  <body>

  {{> header }}


    <h1>{{ page_title }}</h1>

    <br />
    {{ page_content }}
    <br />
    {{# enable_comments }}
    Disqus
    {{/ enable_comments }}


    <script type="text/javascript">
    $(document).ready(function() {
    $('.category-body').expander({
    expandText: '<p class="text-center category-expander"><i class="fa fa-chevron-down"></i></p>',
    userCollapseText: '<p class="text-center category-expander"><i class="fa fa-chevron-up"></i></p>',
    slicePoint: 260,
    expandPrefix:     '',
    });
    });
    </script>

  {{> footer }}

  {{> style }}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
