<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://deldichoalhecho.cl/" />
        <meta property="og:image" content="http://deldichoalhecho.cl/img/logo-ogp.png" />
        <meta property="og:description" content="Sitio de monitoreo de cumplimiento de Ciudadano Inteligente" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
        <link href="{{ site.url }}/css/nv.d3.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ site.url }}/js/bootstrap.min.js"></script>

    </head>
    <body>

      <div class="site">
        <div class="header">
          <div class="container">
            <h3 class="title"><a href="/"><img src="{{ site.url }}/img/logo-ddah.png"></a></h3>
<!--             <div class="nav">
              <ul class="list-inline">
              </ul>
            </div> -->
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Bachelet 2014-2018 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="extra" href="{{ site.url }}/index.html">Discurso 21 Mayo 2014</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Piñera 2010-2014 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="extra" href="http://anteriores.deldichoalhecho.cl/cumplimiento-pinera-2010-2014/">Cierre de Gobierno</a></li>
                  <li><a class="extra" href="http://anteriores.deldichoalhecho.cl/cumplimiento-de-promesas-discurso-21m-2013/">Discurso 21 Mayo 2013</a></li>
                  <li><a class="extra" href="http://anteriores.deldichoalhecho.cl/cumplimiento-programa-de-gobierno-en-materia-legislativa-al-2013/">Programa de Gob estudio 2013</a></li>
                  <li><a class="extra" href="http://anteriores.deldichoalhecho.cl/cumplimiento-de-promesas-discurso-21m-2011/">Discurso 21 Mayo 2012</a></li>
                  <li><a class="extra" href="http://anteriores.deldichoalhecho.cl/programa-de-gobierno-2012/">Programa de Gob estudio 2012</a></li>
                  <li><a class="extra" href="http://anteriores.deldichoalhecho.cl/discurso-21-de-mayo-2010/">Discurso 21 Mayo 2011</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        {{ content }}

        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li><a href="http://www.ciudadanointeligente.org/" target="_blank"><img src="{{ site.url }}/img/logo-fci.png" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-inline">
                  <li><a href="https://github.com/ciudadanointeligente/deldichoalhecho" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                  <li><a href="https://www.facebook.com/ciudadanointeligente" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                  <li><a href="https://twitter.com/ciudadanoi" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                  <li><a href="mailto:prensa@ciudadanointeligente.org?Subject=Del%20dicho%20al%20hecho" class="email-prensa" target="_top"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li><img src="{{ site.url }}/img/logo-uc.png" alt="Facultad de Comunicaciones UC" title="Facultad de Comunicaciones UC"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Google Analytics --> <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-48506201-1'); // Replace with your property ID. ga('send', 'pageview');  </script> <!-- End Google Analytics -->
    </body>
</html>
