{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	{% include 'nav_bar_header.html' %}
</nav>
{% endblock navbar %}
{% block 'content' %}


<a class="btn btn-primary btn-full-width btn-facebook" href="{% url 'socialauth_begin' 'facebook' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
            <i class="fa fa-facebook"></i> Sign in with Facebook
</a>

<a class="btn btn-primary btn-full-width btn-twitter" href="{% url 'socialauth_begin' 'twitter' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
            <i class="fa fa-twitter"></i> Sign in with Twitter
</a>

{% endblock 'content' %}
