{% extends 'base.html' %}
{% load i18n %}


{% block 'title' %}{% trans "Instances" %}{% endblock 'title' %}

{% block 'content' %}
<div class="modal fade" id="createInstanceModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Create Instance' %}</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(function(){
	$("#createInstanceModal").on('show.bs.modal', function(e){
            var anchor = $(e.relatedTarget);
            var url = anchor.attr('href');
            $('#createInstanceModal .modal-content').load(url)
	});

});
</script>

<h2>{% trans 'Hola! estas son tus instancias:' %}</h2>
<ul>
  {% for i in instances %}
    <li><a href="{% url 'backend:instance' slug=i.label %}">{{ i }}</a> - <a target="blank_" href="{{ i.get_absolute_url }}"><i class="fa fa-external-link"></i>
</a></li>
  {% empty %}
    <li>{% trans "No instances present." %}</li>
  {% endfor %}
</ul>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url 'backend:create_instance' %}" data-target="#createInstanceModal">
{% trans 'Create a new Instance' %}
{% endblock 'content' %}
