{% extends 'base.html' %}
{% load i18n %}


{% block 'title' %}{{instance}} - <a target="blank_" href="{{ instance.get_absolute_url }}"><i class="fa fa-external-link"></i></a>{% endblock 'title' %}

{% block 'content' %}
<!--Modal for creating a new category-->
<div class="modal fade" id="createCategoryModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Create a new Category' %}</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(function(){
	$("#createCategoryModal").on('show.bs.modal', function(e){
		$("#createCategoryModal .modal-body").load("{% url 'backend:create_category' slug=instance.label %}");
	});

});
</script>
<!-- Modal for creating a new category-->

<!--Modal for creating a new promise-->
<div class="modal fade" id="createPromiseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Create a new Category' %}</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(function(){
	$("#createPromiseModal").on('show.bs.modal', function(e){
		//$("#createPromiseModal .modal-body").load("{% url 'backend:create_category' slug=instance.label %}");
	});

});
</script>
<!--Modal for creating a new promise-->
<div class="modal fade" id="updatePromiseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Update Promise' %}</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(function(){
	$("#updatePromiseModal").on('show.bs.modal', function(e){
            var anchor = $(e.relatedTarget);
            var url = anchor.attr('href');
            $('#updatePromiseModal .modal-content').load(url)
	});

});
</script>



<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>{% trans 'Settings' %}</h2>
		</div>
		<div class="panel-body">
			<a href="{% url 'backend:instance_style' slug=instance.label %}"><i class="fa fa-paint-brush"></i> {% trans 'Style and design' %}</a>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createCategoryModal">
  {% trans 'Create a new Category' %}
</button>	
		</div>
	</div>
</div>
{% for category in instance.categories.all %}


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
        	<h2>{{category.name}}</h2>

		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url 'backend:create_promise' label=instance.label category_id=category.id %}" data-target="#createPromiseModal">
		  {% trans 'Create a new Promise' %}
		</button>	
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
            	{% for promise in category.promises.all %}
                <a href="{% url 'backend:update_promise' pk=promise.id %}" data-toggle="modal" data-target="#updatePromiseModal" class="list-group-item"> {{promise.name}}
                    <span class="pull-right text-muted small"><em>{{ promise.fulfillment.percentage }}%</em>
                    </span>
                </a>
                
				{% endfor %}
            </div>
            <!-- /.list-group -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
{% endfor %}
{% endblock 'content' %}
