{% load i18n %}

<div class="sidebar-nav navbar-collapse">
	<ul class="nav" id="side-menu">
	    <li class="sidebar-search">
	        <div class="input-group custom-search-form">
	            <input type="text" class="form-control" placeholder="Search...">
	            <span class="input-group-btn">
	            <button class="btn btn-default" type="button">
	                <i class="fa fa-search"></i>
	            </button>
	        </span>
	        </div>
	        <!-- /input-group -->
	    </li>
	    <li>
	        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> {% trans 'Instances' %}<span class="fa arrow"></span></a>
	        <ul class="nav nav-second-level">
	        	{% for instance in user.instances.all %}
	            <li>
	                <a href="{% url 'backend:instance' slug=instance.label %}">{{instance.title}}</a>
	            </li>
	            {% endfor %}
	        </ul>
	        <!-- /.nav-second-level -->
	    </li>
	</ul>
	</div>
